para {
	font-size:		10mm;
	text-align:		center;
	font-weight:	bold;
}

section > title {
	font-size: 	20mm;
	color:		#0000ff;
}

section > section > title {
	font-size:	15mm;
	color:		#00ff00;
}

itemizedlist > listitem > para {
	font-size: 	8mm;
	text-align:	left;
	color:		#ff0000;
}

emphasis {
	text-decoration:	underline;
	background-color:	#00cc00;
}
